<!DOCTYPE html>
<html lang="en">
@{
  var isPost = Document.GetBool("IsPost") && !Document.GetBool("IsPostArchive");
  var isPage = Document.GetBool("IsPage");
}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  @if(Document.ContainsKey(WebKeys.Description))
  {
    <meta name="description" content="@Document.GetString(WebKeys.Description)">
  }
  @if(Document.ContainsKey(WebKeys.Author))
  {
    <meta name="author" content="@Document.GetString(WebKeys.Author)">
  }

  <title>@Document.GetString("PageTitle")</title>

  <link rel="canonical" href='@(Document.GetString("Canonical") ?? Document.GetLink(true))'>

  @{
    @foreach (IDocument rssFeed in Outputs["**/*.rss"])
    {
      <link type="application/rss+xml" rel="alternate" title="@rssFeed.GetString(WebKeys.Title)" href="@rssFeed.GetLink()" />
    }
    @foreach (IDocument atomFeed in Outputs["**/*.atom"])
    {
      <link type="application/atom+xml" rel="alternate" title="@atomFeed.GetString(WebKeys.Title)" href="@atomFeed.GetLink()" />
    }
  }

  <meta name="application-name" content='@Document.GetString("SiteTitle")' />
  <meta name="msapplication-tooltip" content='@Document.GetString("SiteTitle")' />
  <meta name="msapplication-starturl" content='@Context.GetLink("/")' />

  @* TODO: More social graph meta tags *@
  <meta property="og:title" content='@Document.GetString("PageTitle")' />
  @if (Document.ContainsKey(WebKeys.Image))
  {
    <meta property="og:image" content='@Context.GetLink(Document.GetString(WebKeys.Image))' />
  }
  <meta property="og:type" content="website" />
  <meta property="og:url" content='@Document.GetLink(true)' />

  <link rel="icon" href='@Context.GetLink("/favicon.ico")'>

  <!-- Custom fonts for this template -->
  <link href='@Context.GetLink("/vendor/fontawesome-free/css/all.min.css")' rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic" rel="stylesheet" data-no-mirror>

  <!-- Styles for this template (includes HTML5 UP) -->
  <link href='@Context.GetLink("/scss/dopetrope.css")' rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/components/prism-core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js" data-no-mirror></script>
  <script src="https://cdn.jsdelivr.net/npm/quicklink@2.3.0/dist/quicklink.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/index.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-vs.min.css" rel="stylesheet">

</head>

<!-- TODO: the class here might depend on a variable for site containing 'left-sidebar', 'right-sidebar', 'no-sidebar' or 'homepage' -->
<body class="homepage is-preload">
  <div id="page-wrapper">
    <section id="header">

      <!-- Logo -->
  		<h1><a href='@Context.GetLink("/")'>@Document.GetString("SiteTitle")</a></h1>

      <!-- Navigation -->
      @RenderSectionOrPartial("Navigation", "_navigation")

      <!-- Some parts are only visible on homepage -->
      @if (@Context.GetLink("/") == @Document.GetLink())
      {
        @RenderSectionOrPartial("Banner", "_banner")
        @RenderSectionOrPartial("Intro", "_intro")
      }
    </section>
    <!-- Main -->
    <section id="main">
      <div class="container">

        <!-- Content -->
        @if (isPost)
        {
          <article class="box post">
            @await Html.PartialAsync("_content-header")
            @RenderBody()
          </article>
        }
        else if (isPage && (@Context.GetLink("/") != @Document.GetLink()))
        {
          <article class="box post">
            @await Html.PartialAsync("_content-header")
            @RenderBody()
          </article>
        }
        else
        {
          @RenderBody()
        }
      </div>
    </section>

  </div>
  <!-- Scripts -->
  <script src='@Context.GetLink("vendor/html5up-dopetrope/js/jquery.min.js")'></script>
  <script src='@Context.GetLink("vendor/html5up-dopetrope/js/jquery.dropotron.min.js")'></script>
  <script src='@Context.GetLink("vendor/html5up-dopetrope/js/browser.min.js")'></script>
  <script src='@Context.GetLink("vendor/html5up-dopetrope/js/breakpoints.min.js")'></script>
  <script src='@Context.GetLink("vendor/html5up-dopetrope/js/util.js")'></script>
  <script src='@Context.GetLink("vendor/html5up-dopetrope/js/main.js")'></script>
  @await Html.PartialAsync("_scripts")
  @RenderSection("Scripts", false)

</body>

</html>